<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Booktique</title>
</head>


<body>
    <h1 class='text-3xl font-thin underline text-bubble-gum'>Hello World!</h1>
    <input type="text" id="query">
    <button id="update-btn">Woohoo</button>
    <div id="list-container"></div>
</body>

<script>
    function handleClick() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                var response = JSON.parse(this.responseText);
                var listContainer = document.getElementById("list-container");
                listContainer.innerHTML = "";
                for (var i = 0; i < response.my_list.length; i++) {
                    var listItem = document.createElement("div");
                    listItem.innerHTML = response.my_list[i];
                    listContainer.appendChild(listItem);
                }
            }
        };
        var query = document.getElementById("query").value;
        xhr.open("GET", `/update_list/?query=${encodeURIComponent(query)}&page=${encodeURIComponent(2)}`);
        xhr.send();
    }
    document.getElementById("update-btn").addEventListener("click", handleClick);
</script>

</html>